{"dingtalkToken":"","featurePrefix":"feature/","helloToken":"","hotfixPrefix":"hotfix/","masterBranch":"master","pattern":"(?:fix|chore|docs|feat|refactor|style|test)(?:\\(.*\\))?\\s+(?:XM\\d{7}-\\d+)(?:\\s*)(?:\\S+)(?:[\\n\\r]{2,})(?:[\\s\\S]*)","patternExplain":"规范说明：https://blog.csdn.net/xiaolyuh123/article/details/129042182\n正确示例：\n\nfeat(web) XM2102301-30 用户目标地图\n\n背景：\nhttp://jira.xxx.com/browse/XM2607301-30\n修改：\n1. 使用idea自带http工具来替换postman\n2. 新增查询我的目标接口\n影响：\n1. 影响PC端个人目标地图显示","releaseBranch":"release","tagPrefix":"","testBranch":"test"}
